// colors
$color-blue:#0278E5;
$color-gray:#FAF8F7;
$color-black:#1D1700;

$color-gray-dark-1:#FAF8F7;
$color-gray-dark-2:#E3E4E5;
$color-blue-dark:#025DE5;

$transition:.3s ease all;

$box-shadow-1 :0px 3px 6px rgba(29, 23, 0, 0.1);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  line-height: 1.6;
  font-family: "Stem Light";
  font-weight: 100;
  font-size: 16px;
  width: 100%;
}

.main {
  max-width: 1344px;
  width: 100%;
}
p {
  font-family: "Stem Light";
  font-weight: 100;
}
.wrapper {
  position: relative;
  width: 100%;


  display: flex;

}

.main {
  width: 100%;

  padding: 0;
  margin: 0 auto;
  position: relative;  overflow-x: hidden;
}

h3 {
  font-size: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  
}

button {
  cursor: pointer;
  pointer-events: all;
}

a.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

a.btn--main {
  border: none;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#f42c2b), to(rgba(0, 0, 0, 0))), #460d09;
  background: linear-gradient(180deg, #f42c2b 0%, rgba(0, 0, 0, 0) 100%), #460d09;
  border-radius: 0.625em;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.125em;
  text-align: center;
}

/* иконки */
button.btn--ic {
  position: relative;
  background-color: $color-gray;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 20px;
}

/* кнопки */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button.btn--call {
  width: 183px;
  height: 40px;
  background: $color-gray;
  box-shadow: $box-shadow-1;
  border-radius: 39px;
  border: none;
  outline: none;
}

button.btn--solid {
  font-size: 18px;
  height: 54px;
  background: #0278e6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: none;
  font-family: 'Stem Light';
  font-weight: 900;
}

.btn--search {
  width: 179px;
  border-radius: 27px;
}

.btn--lg {
  width: 246px;
  border-radius: 27px;
}

a.btn--news {
  width: 200px;
  border-radius: 27px;
  height: 54px;
  background: $color-gray;
  font-family: 'Stem Light';
  font-weight: 900;
  color: $color-black;
  transition: $transition;
}

.btn--contact {
  width: 279px;
  height: 54px;
  border-radius: 27px;
  transition: $transition;
}

.btn--link {
  background: transparent;
  border: 1px solid $color-blue;
  width: 304px;
  height: 48px;
  color: $color-black;
  border-radius: 27px;
  transition: $transition;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  transition: $transition;
}

button.btn--call {
  width: 183px;
  height: 40px;
  background: #FAF8F7;
  -webkit-box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
  box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
  border-radius: 39px;
  border: none;
  outline: none;
  transition: $transition;
}


.icons-top {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  top: 42px;
  right: 76px;
  z-index: 9;
}

.btn--ic {
  -webkit-box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
  box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.1);
}

button.btn--ic span {
  position: absolute;
  border-radius: 50%;
  background-color: #faf8f7;
  height: 21px;
  width: 21px;
  border: 1px solid #1d1700;
  top: -10px;
  left: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
}


/*************** BUTTON STATES ***************/


// svg,
// svg path,
// svg line,
// svg circle,
// svg rect {
//   transition: $transition;
// }

.line--mobile {
  display: none;
}
a.product-type {
  &:hover {
    background: $color-blue;
    color: #fff;

    svg {
      fill: none;
      stroke: #fff;
    }

    svg line {

      stroke: #fff;
    }

    svg path {
      stroke: rgb(255, 255, 255);

    }

    path.svg-path {
      fill: #fff;
      stroke: none !important;
    }

    line.svg-line {
      stroke: #fff;
    }

    h3.h3-light {
      font-weight: 900;
    }
  }

}

button.product__cart:hover {

  background: $color-blue;
  color: #fff;

  svg path,
  svg circle {
    fill: #fff;
  }

  svg circle {
    stroke: #fff;
  }

}

button.product__stats:hover {
  background: $color-blue;

  svg rect {
    fill: #fff;
  }
}

button.product__favorite:hover {
  background: $color-blue;

  svg path {
    stroke: #fff
  }

}

.btn--solid:hover {
  background-color: $color-blue-dark;

}

.swiper-button-next-circle:hover {
  &::before {
    background: rgba(170, 170, 170, 0.089);
    box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.3);
  }
}

.swiper-button-prev-circle:hover {
  &::before {
    background: rgba(170, 170, 170, 0.089);
    box-shadow: 0px 3px 6px rgba(29, 23, 0, 0.3);
  }
}

a.btn--news:hover {
  background: $color-blue;
  color: #fff;

  span svg path {

    fill: $color-blue;
  }
}

.btn--link:hover {
  background: $color-blue;
  color: #fff;
}

a.soc__icon:hover {
  background: $color-blue-dark;
}

.footer__socials a:hover {
  svg path {
    fill: $color-blue-dark;

  }
}

.footer__col--1 a.link{
  transition: $transition;
  &:hover {
  color: $color-blue-dark;
  text-decoration: underline;
}
}



ul.nav li a:hover,
.nav__link--bold:hover {
  color: $color-blue;
}

ul li a.detailed-search:hover {
  color: $color-blue-dark;
  text-decoration: underline;
}

/* модальные окна */


button {
  cursor: pointer;
  border: 0;
  outline: none;
}

/* modal */

.modal {
  height: 100vh;

}

.modal__button {
  display: inline-block;

  color: #fff;
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  transition: .3s ease;
}

.modal--contact-me {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  display: grid;
  align-items: center;
  overflow: hidden;
  transition: all .3s;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
}

.modal__content--contact-me {
  margin: 0 auto;
  padding: 165px 100px;
  position: relative;
  background: $color-gray;


  box-shadow: 0px 8px 22px rgba(29, 23, 0, 0.1);
  transition: all .3s;
  /* ---- effect 1 ---- */
  /*transform:translateY(10%); */
  /* ---- effect  ---- */
  transform: scale(.5) translateY(10%);

  p {
    font-family: inherit;
    font-size: 18px;
    font-family: 'Stem Medium';
    font-weight: 100;
    padding-bottom: 30px;
  }
}

.modal--contact-me:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: rgba(255, 255, 255, 0.94);
  box-sizing: border-box;
  z-index: -1;
}

.modal__close {
  display: inline-flex;

  border-radius: .25rem;

  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;

  svg {
    padding: 11px;
    display: block;
    background: #fff;
    border-radius: 50%;
    height: 34px;
    width: 34px;

  }
}

.modal__description {
  margin-bottom: 1.5rem;
}

.modal__button-width {
  width: 90%;
}

.modal__button-link {
  display: block;
  margin: 1rem auto 0;

  font-weight: 500;
}

.show-modal {
  visibility: visible;
  opacity: 1;
}

.show-modal .modal__content {
  /*transform:translateY(0); */
  transform: scale(1) translateY(0);
}


.modal__form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}

.modal__input {
  grid-column: 1/-1;

  &:not(:last-child) {
    margin-bottom: 26px;
  }
}

.btn--modal {
  background: $color-blue-dark;
}

// checkbox
.checkbox__agreement{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: flex;
  align-items: center;
  padding-left: 44px;

  p {
    font-size: 14px;
line-height: 16px;
letter-spacing: 0.04em;
font-family: 'Stem Light'; 
padding-bottom: 0;
padding-left: 12px;

  }a {
  color: #025DE5;
text-decoration: underline;
font-size: 14px;
font-family: 'Stem Light'; 
}
}

/* Hide the browser's default checkbox */
.checkbox__agreement input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox__agreement {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* Hide the browser's default checkbox */
.checkbox__agreement input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 17px;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border: 1px solid #E3E4E6;
  pointer-events: all;
}

/* On mouse-over, add a grey background color */
.checkbox__agreement:hover input ~ .checkmark {
  background-color: rgba(204, 204, 204, 0.144);
}

/* When the checkbox is checked, add a blue background */
.checkbox__agreement input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox__agreement input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox__agreement .checkmark:after {
  left:3px;
  top:-13px;
  width: 5px;
  height: 10px;

 content: url(/img/icons/checkmark.svg);
}

/// modal success
.modal--success {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  display: grid;
  align-items: center;
  overflow: hidden;

  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  transition: .5s ease;


  display: flex;

justify-content: center;
align-items: center;

}

.modal--success--visible {
  transition: .5s ease;
  visibility: visible;
  opacity: 1;
}


.modal--success:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.94);
  box-sizing: border-box;
  z-index: -1;
}


.modal__content--success {
  width: 640px;
  height: 640px;
  margin: 0 auto;
  padding: 165px 100px;
  position: relative;
  background: $color-gray;


  box-shadow: 0px 8px 22px rgba(29, 23, 0, 0.1);
  transition: all .3s;

  transform: scale(.8) translateY(10%);
  .modal__inner {
    background: #fff;
    padding:  60px 60px 70px 60px;
    text-align: center;
    svg {
      display: inline-block;
      position: relative;
      top:5px;
      margin-right: 14px;
    }
    p {
      display: inline;
      font-weight: 100;
    }

    h4 {
      font-size: 24px;
color: $color-blue;
font-family: 'Stem Medium';
font-weight: 100;
margin-bottom: 35px;
    }
  }

}

.visible-scrollbar, .invisible-scrollbar, .mostly-customized-scrollbar {
 
  width: 2px;
  background-color: #fff;
}


///

.map,
.ymaps-2-1-79-map, .ymaps-2-1-79-map , .ymaps-2-1-79-map   {
  max-width: 718px;
  width: 100%;
  height:500px;
}

@media only screen and (max-width: 1600px) {
  .map,
  .ymaps-2-1-79-map, .ymaps-2-1-79-map , .ymaps-2-1-79-map  {
width: 500px;
  height: 400px;
}
}

@media only screen and (max-width: 1200px) {
  .map,
  .ymaps-2-1-79-map, .ymaps-2-1-79-map , .ymaps-2-1-79-map  {
 width: 400px;
  height: 400px;
}
}

@media only screen and (max-width: 1024px) {
  .map,
  .ymaps-2-1-79-map, .ymaps-2-1-79-map , .ymaps-2-1-79-map  {
width: 100%;
  height: 400px;
}
.map,.ymaps-2-1-79-map {
width: 100%;
}
}



