@font-face {
    font-family: 'Stem Light';
    src: url('Stem-Light.eot');
    src: local('Stem Light'), local('Stem-Light'),
        url('/fonts/Stem-Light.eot') format('embedded-opentype'),
        url('/fonts/Stem-Light.woff2') format('woff2'),
        url('/fonts/Stem-Light.woff') format('woff'),
        url('/fonts/Stem-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: url('/fonts/Stem-Medium.eot');
    src: local('Stem Medium'), local('Stem-Medium'),
        url('/fonts/Stem-Medium.eot') format('embedded-opentype'),
        url('/fonts/Stem-Medium.woff2') format('woff2'),
        url('/fonts/Stem-Medium.woff') format('woff'),
        url('/fonts/Stem-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: url('/fonts/Stem-Bold.eot');
    src: local('Stem Bold'), local('Stem-Bold'),
        url('/fonts/Stem-Bold.eot') format('embedded-opentype'),
        url('/fonts/Stem-Bold.woff2') format('woff2'),
        url('/fonts/Stem-Bold.woff') format('woff'),
        url('/fonts/Stem-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: url("Stem-Light.eot");
    src: local("Stem Light"), local("Stem-Light"), url("/fonts/Stem-Light.eot") format("embedded-opentype"), url("/fonts/Stem-Light.woff2") format("woff2"), url("/fonts/Stem-Light.woff") format("woff"), url("/fonts/Stem-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Stem Medium';
    src: url("Stem-Medium.eot");
    src: local("Stem Medium"), local("Stem-Medium"), url("/fonts/Stem-Medium.eot") format("embedded-opentype"), url("/fonts/Stem-Medium.woff2") format("woff2"), url("/fonts/Stem-Medium.woff") format("woff"), url("/fonts/Stem-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Stem Bold';
    src: url("Stem-Bold.eot");
    src: local("Stem Bold"), local("Stem-Bold"), url("/fonts/Stem-Bold.eot") format("embedded-opentype"), url("/fonts/Stem-Bold.woff2") format("woff2"), url("/fonts/Stem-Bold.woff") format("woff"), url("/fonts/Stem-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Stem Light';
    src: url("Stem-SemiLight.eot");
    src: local("Stem Semi Light"), local("Stem-SemiLight"), url("/fonts/Stem-SemiLight.oet") format("embedded-opentype"), url("/fonts/Stem-SemiLight.woff2") format("woff2"), url("/fonts/Stem-SemiLight.woff") format("woff"), url("/fonts/Stem-SemiLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Stem Extra Light';
    src: url("Stem-ExtraLight.eot");
    src: local("Stem Extra Light"), local("Stem-ExtraLight"), url("/fonts/Stem-ExtraLight.eot") format("embedded-opentype"), url("/fonts/Stem-ExtraLight.woff2") format("woff2"), url("/fonts/Stem-ExtraLight.woff") format("woff"), url("/fonts/Stem-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Stem Thin';
    src: url("Stem-Thin.eot");
    src: local("Stem Thin"), local("Stem-Thin"), url("/fonts/Stem-Thin.eot") format("embedded-opentype"), url("/fonts/Stem-Thin.woff2") format("woff2"), url("/fonts/Stem-Thin.woff") format("woff"), url("/fonts/Stem-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Stem Regular';
    src: url("Stem-Regular.eot");
    src: local("Stem Regular"), local("Stem-Regular"), url("/fonts/Stem-Regular.eot") format("embedded-opentype"), url("/fonts/Stem-Regular.woff2") format("woff2"), url("/fonts/Stem-Regular.woff") format("woff"), url("/fonts/Stem-Regular.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Stem Regular';
    src: url('Stem-Regular.eot');
    src: local('Stem Regular'), local('Stem-Regular'),
        url('/fonts/Stem-Regular.eot') format('embedded-opentype'),
        url('/fonts/Stem-Regular.woff2') format('woff2'),
        url('/fonts/Stem-Regular.woff') format('woff'),
        url('/fonts/Stem-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/*************** основные шрифты ***************/

h1 {
  font-size: 4em;
  font-weight: 700;
  font-weight: bold;
  font-family: "Stem Bold";
}

h2 {
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: "Stem Medium";
}

h2.main {
  color: #1d1700;
  position: relative;

  padding-left:63px;
}

h2.main::before {
  content: "";
  position: absolute;
  display: inline-block;
  background: #0278e5;
  height: 2px;
  width: 40px;
left: 0;
 top: 15px;
}

p {
    font-family: "Stem Light";
    font-weight: 100;
    font-size: 18px;
}


/*************** font extra styling ***************/

h4 {
    font-size: 18px;
    font-family: 'Stem Regular';
  }
  
  /* font sizes */
  .p-sm {
    font-size: 14px;
  }
  
  .p-md {
    font-size: 18px;
  }
  
  .p-l {
    font-size: 20px;
    color: #1D1700;
  }
  
  .p-lx {
    font-size: 24px;
  }
  
  .p-xxl {
    font-size: 36px;
  }
  
  .p-bold {
    font-family: 'Stem Bold'
  }
  
  .p-light {
    font-weight: 100;
  }
  
  .p-uppercase {
    text-transform: uppercase;
  }
  
  .nav__link--bold {
   font-family: 'Stem Regular';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
  }
  
  .h3-light {
    font-family: 'Stem Light';
    font-weight: 100;
  }
.p-lg {
    font-size: 24px;
    font-family: 'Stem Medium';
    font-weight: 100;
}
.p-colored {
    color: $color-blue;
    font-family: 'Stem Medium';
    font-weight: 100;
}
.span-zoomed {
    font-size: 36px;
    font-family: 'Stem Medium';
    font-weight: 100;
}
.p-bold {
    font-family: 'Stem Regular';
    font-weight: 100;
}



